* {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #444444;
}

html, body {
    height: 100%;
    
}
#app {
    display: flex;
    width: auto;
    height: 100%;
}
#screen {
    background-color: aqua;
    width: 100%;
    height: 100%;
}
#terminal {
    background-color: #31363B;
    color: aliceblue;
    width: 500px;
    height: auto;
}

#terminal::placeholder {
    color: whitesmoke;
}