* {
    padding: 0;
    margin: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

#app {
    display: flex;
    width: auto;
    height: 100%;
}
#screen {
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.terminal-historico {
    background-color: #31363B;
    color: aliceblue;
    height: calc(100% - 16px);
    width: calc(500px - 16px);
    padding-left: 16px;
    padding-bottom: 16px;
    border: none;
}
.terminal-container {
    position: relative;
    height: 100vh;
}
.terminal-input-container {
    position: absolute;
    top: 0;
    width: 500px;
    background-color: #31363B;
}
.terminal-input {
    width: calc(100% - 32px);
    padding-left: 32px;
    color: aliceblue;
    border: none;
    background-color: #31363B;
}
.terminal-label {
    position:  absolute;
    color: aliceblue;
    margin-left: 16px;
}